.wrapper {
    background-color: $secondary;
    color: $first;
    width: 100%;
    min-height: 100vh;
    position: relative;
}

.content {
    position: relative;
    width: 100%;
    max-width: 1440px;
    min-height: 100vh;
    height: 100%;
    padding: 5rem 0rem 5rem 0rem;
    margin: 0 auto;
    align-items: center;
    display: grid;
    grid-template-columns: 1fr 1fr;
    @include respond-down(xxlarge) {
        @include max-width(xlarge);
    }

    @include respond-down(xlarge) {
        @include max-width(large);
    }

    @include respond-down(large) {
        @include max-width(medium);
    }

    @include respond-down(medium) {
        @include max-width(small);
    }

    @include respond-down(small) {
        max-width: 100%;
    }

    video {
        width: 100%;
    }


    .carousel {
        display: flex;
        align-items: center;

        button {
            padding: 0.5rem 1rem;
            background-color: $secondary;
            color: $first;
            border: none;
            cursor: pointer;
            transition: background-color 0.3s;
        }

        img {
            max-width: 100%;
            max-height: 80vh;
            margin: 0 1rem;
        }
    }

    .video-player {
        display:flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
    }

    .controls {

input {
  -webkit-appearance: none;
  appearance: none; 
  width: 100%;
  cursor: pointer;
  outline: none;
  overflow: hidden;
  border-radius: 16px;
}

input::-webkit-slider-runnable-track {
  height: 15px;
  background: #ccc;
  border-radius: 16px;
}

input::-moz-range-track {
  height: 15px;
  background: #ccc;
  border-radius: 16px;
}

input::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none; 
  height: 15px;
  width: 15px;
  background-color: #fff;
  border-radius: 50%;
  border: 2px solid #f50;
  box-shadow: -407px 0 0 400px #f50;
}

input::-moz-range-thumb {
  height: 15px;
  width: 15px;
  background-color: #fff;
  border-radius: 50%;
  border: 1px solid #f50;
  box-shadow: -407px 0 0 400px #f50;
}
    }
}
